:root {
  --custom-gray: #2b2b2b;
  --custom-gray-2: #b7b7b7;
  --custom-gray-3: #444;
  --custom-light-gray: #D3D3D3;
  --custom-light-gray-2: #d7d7d7;
  --custom-red: #99272a;
  --custom-dark-gray: #202020;
  --dash-background: #0F0F0F;
}

button {
  background: none;
  outline: none;
  border: none;
}

p {
  margin: 0;
}

@media screen and (max-width: 450px) {
  #app {
    height: 100%;
  }
}
