.dashboard {
  display: flex;
  flex-direction: column;
  color: var(--custom-light-gray);
  background-color: var(--dash-background);
  margin-bottom: 3%;
  width: 100%;
}

.dash-item {
  display: flex;
  align-items: center;
  min-height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--custom-gray);
  padding: 0 10px;
  color: 	var(--custom-light-gray);
}

#vods-container,
#search {
  width: 100%;
}

#search > svg {
  transition-property: transform;
  transition-duration: 0.1s;
}

#search:hover > svg {
  transform: rotate(45deg);
}

#search:hover > svg path {
  fill: white;
}

#search-announcements {
  font-size: 0.9em;
}

#schedule {
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

#schedule > svg, #vods > svg {
  transition-property: transform;
  transition-duration: 0.2s;
}

#schedule:hover > svg path, #vods:hover > svg path {
  fill: white;
}

#schedule:hover > svg {
  transform: translate(0, 5px);
}

#vods:hover > svg {
  transform: translate(5px, 0);
}

#schedule,
#vods {
  max-width: 100%;
  justify-content: space-between;
}

.tool {
  font-size: 1em;
}

@media screen and (min-width: 650px) {
  .dashboard {
    margin-bottom: 2%;
  }

  .dash-item {
    height: 50px;
  }

  #schedule {
    font-size: 1.3em;
  }

}

@media screen and (min-width: 750px) {
  #schedule,
  #vods-container
  {
    max-width: 50%;
    flex-grow: 1;
  }

  #search {
    width: 30%;
    flex-grow: 1;
  }

  #tools {
    width: 400px;
    max-width: 50%;
  }

  #schedule, #vods {
    margin-right: 0;
  }

  #schedule {
    border-right: 1px solid var(--custom-gray);
  }

  #search {
    border-bottom: none;
  }

  .dashboard {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1100px) {
  .dashboard {
    /* width: calc(100% / 5 * 3) */
    width: 1100px;
  }
  .dash-item {
    height: 60px;
  }
}

#missed-stream {
  color: var(--custom-red);
  font-size: 0.7em;
  font-weight: bold;
  margin: 0;
}

#catch-up {
  font-size: 0.9em;
  color: var(--custom-light-gray);
}

#search-announcements {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}


.filter-text {
  color: var(--custom-light-gray);
  font-size: 0.8em;
}

.reset-text-disabled {
  color: dimgray;
  font-size: 0.8em;
}

.tool {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  color: var(--custom-light-gray);
}

.tool-enabled {
  cursor: pointer;
}

.tool-enabled:hover > .filter-text {
  color: white;
}

.tool-enabled:hover > svg path {
  fill: white;
}

#tools {
  padding: 0%;
  border: none;
}

.tool-selected {
  background: black;
}

/*
  Tables with only two columns that have an inner border.
*/
.dash-table-2-col {
  border-collapse: collapse;
  border-top: 1px solid var(--custom-gray);
}

.dash-table-2-col th:first-child {
  border-right: 1px solid var(--custom-gray);

}

.dash-table-2-col td, table th {
  border-bottom: 1px solid  var(--custom-gray);
}

.dash-table-2-col tr:first-child th {
  border-top: 0;
}

.dash-table-2-col tr:last-child td {
  border-bottom: 0;
}

.dash-table-2-col tr td:first-child {
  border-right: 1px solid var(--custom-gray);
}
