#filters {
  border-top: 1px solid var(--custom-gray);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#filters .filter-item-container:nth-child(odd) {
  border-bottom: 1px solid var(--custom-gray);
  border-right: 1px solid var(--custom-gray);
}

#filters .filter-item-container:nth-child(even) {
  border-bottom: 1px solid var(--custom-gray);
}

#filters .filter-item-container:nth-last-child(-n+2) {
  border-bottom: none;
}

.filter-item-container {
  box-sizing: border-box;
  position: relative;
  width: 50%;
}

.filter-item {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.9em;
  width: 100%;
}

.filter-type {
  text-align: left;
  color: var(--custom-light-gray);
}
