#filters {
  border-top: 1px solid var(--custom-gray);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;
}

.filter-item-container {
  box-sizing: border-box;
  position: relative;
  height: 40px;
}

.filter-item {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.9em;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  cursor: pointer;
}

.filter-item > svg {
  transition-property: transform;
  transition-duration: 0.1s;
}

.filter-item:hover > svg {
  transform: translate(0, 2px);
}

.filter-item:hover > .filter-type, .filter-item:hover > svg path {
  color: white;
  fill: white;
}

.filter-type {
  text-align: left;
  color: var(--custom-light-gray);
}

@media screen and (max-width: 650px) {
  .filter-item-container:nth-child(2n+1) {
    border-right: 1px solid var(--custom-gray);
  }
  
  .filter-item-container:nth-child(-n+4) {
    border-bottom: 1px solid var(--custom-gray);
  }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
  #filters {
    grid-template-columns: repeat(3, 1fr);
  }

  .filter-item-container:nth-child(3n+1),
  .filter-item-container:nth-child(3n+2) {
    border-right: 1px solid var(--custom-gray);
  }

  .filter-item-container:nth-child(-n+3) {
    border-bottom: 1px solid var(--custom-gray);
  }
}

@media screen and (min-width: 750px) {
  #filters {
    grid-template-columns: repeat(6, 1fr);
    border-top: 1px solid var(--custom-gray);
  }

  .filter-item-container {
    border-right: 1px solid var(--custom-gray);
  }

  .filter-item-container:last-child {
    border-right: none;
  }
}
