@media screen and (max-width: 450px) {
  .schedule-header {
    color: var(--custom-red);
    font-size: 0.7em;
    font-weight: bold;
  }

  .schedule-item {
    text-align: center;
  }

  .schedule-item td {
    font-size: 0.9em;
    padding: 3% 1%;
  }

  .conference {
    width: 30%;
  }

  .conference-date {
    width: 70%;
  }
}

#conference-schedule {
  background-color: var(--dash-background);
  color: var(--custom-light-gray);
  width: 100%;
}
