#sorting {
  display: flex;
  height: 40px;
  border-top: 1px solid var(--custom-gray);
  width: 100%;
}

.sort-option {
  display: flex;
  align-items: center;
  border-right: 1px solid var(--custom-gray);
  padding-right: 30px;
  padding-left: 5px;
  font-size: 0.8em;
  width: 33%;
  height: 100%;
}

.sort-option:last-child {
  border: none;
}
