@media screen and (max-width: 450px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1B1B1B;
    margin-bottom: 5%;
  }

  .dash-item {
    border-bottom: 1px solid #585858;
    flex-grow: 1;
    padding: 0 5%;
    color: 	#D3D3D3;
  }

  .dash-icon {
    align-self: center;
  }

  .arrow-icon {
    margin-left: auto;
    width: 20px;
    height: 20px;
  }

  .filter-text {
    color: inherit;
    font-size: 0.8em;
  }

  .tool {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    color: 	inherit;
  }

  .tool-selected {
    background: black;
  }

  .filter-icons {
    width: 20px;
    height: 20px;
  }

  #search-icon {
    width: 20px;
    height: 20px;
  }


  #missed-stream {
    color: #8B0000;
    font-size: 0.7em;
    font-weight: bold;
    margin: 0;
  }

  #catch-up {
    margin: 0;
    font-size: 0.9em;
  }

  #schedule {
    display: flex;
    max-width: 100%;
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
  }

  #vods {
    display: flex;
  }

  #search {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #search-announcements {
    width: 100%;
    background: none;
    border: none;
    color: inherit;
    outline: none;
  }

  #tools {
    padding: 0%;
    display: flex;
    border: none;
  }
}
