@media screen and (max-width: 450px) {
  .schedule-header {
    color: #8B0000;
    font-size: 0.7em;
    font-weight: bold;
  }

  .schedule-item {
    text-align: center;
  }

  .schedule-item td {
    font-size: 0.9em;
    padding: 3% 1%;
  }

  .conference {
    width: 30%;
    border-right: 1px solid #585858;
  }

  .conference-date {
    margin: 0;
    width: 70%;
  }

  #conference-schedule {
    border-collapse: collapse;
    border-top: 1px solid #585858;
  }

  #conference-schedule td, table th {
    border-bottom: 1px solid #585858;
  }

  #conference-schedule tr:first-child th {
    border-top: 0;
  }

  #conference-schedule tr:last-child td {
    border-bottom: 0;
  }

}
