#legend {
  box-sizing: border-box;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  border-top: 1px solid var(--custom-gray);
  height: 40px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item span {
  font-size: 0.8em;
  padding-right: 10px;
}
