.game-card {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin: 3px;
}

.card-not-disabled-front {
  transform: perspective(50em);
  transition-property: transform;
  transition-duration: 0.2s;
}

.card-not-disabled-front:hover {
  transform: perspective(50em) rotateX(8deg);
  cursor: pointer;
}

.card-front-footer-item {
  visibility: hidden;
  cursor: pointer;
}

.card-not-disabled-front:hover .card-front-footer-item {
  visibility: visible;
}

.card-disabled:hover .card-front-footer-visibility {
  animation: flash 1s normal forwards step-end;
}

@keyframes flash {
  0% {
      visibility: visible;
  }
  25% {
      visibility: hidden;
  }
  50% {
      visibility: visible;
  }
  75% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}


.card-front-footer-flip {
  transition-duration: 0.3s;
  transition-property: transform;
}

.card-not-disabled-front:hover .card-front-footer-flip {
  transform: rotate(90deg);
}

.card-not-disabled-front:hover .game-image {
  filter: none;
}

.card-not-disabled-front:hover .img-before {
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(0, 0, 0, 0.65) 100%);
}

@media screen and (max-width: 1450px) {
  .game-card {
    width: 30%;
    max-width: 33%;
    flex-grow: 1;
  }
}

@media screen and (max-width: 1100px) {
  .game-card {
    flex-grow: 1;
    width: 45%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1850px) {
  .game-card {
    width: 22%;
    max-width: 25%;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1850px) {
  .game-card {
    width: 18%;
    max-width: 20%;
    flex-grow: 1;
  }
}

@media screen and (max-width: 650px) {
  .game-card {
    min-width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .game-card {
    height: 230px;
  }
}

@media screen and (min-width: 1450px) {
  .game-card {
    height: 250px;
  }
}

@media screen and (min-width: 1920px) {
  .game-card {
    height: 275px;
  }
}

.card-front {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.card-front-footer {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.card-back {
  display: flex;
  flex-direction: column;
  color: var(--custom-light-gray);
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.932);
}

.card-back-header {
  padding-left: 3%;
  display: flex;
  max-width: 100%;
  border-bottom: 1px solid var(--custom-gray);
}

.card-back-header-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.card-back-header-right-item {
  display: flex;
  cursor: pointer;
  margin: 0 3px;
}

.card-back-detail-header {
  color: var(--custom-red);
  font-size: 0.75em;
  font-weight: bold;
}

.card-back-title {
  font-size: 1.1em;
}

.card-back-developer {
  font-size: 0.7em;
  color: #b1a9a9;
}

.card-back-developer:hover {
  text-decoration: underline;
}

.card-back-lower {
  display: flex;
  width: 100%;
  height: 100%;
}

.card-back-details {
  padding-top: 3%;
  padding-left: 3%;
  width: 40%;
  border-right: 1px solid var(--custom-gray);
}

.card-back-detail {
  font-size: 0.75em;
}

.card-back-media {
  color: var(--custom-light-gray);
  width: 60%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-back-media-item {
  padding: 0;
  color: var(--custom-light-gray);
  font-size: 0.7em;
  width: 50%;
  flex-grow: 1;
  text-align: center;
  align-self: stretch;
  cursor: pointer;
}

.card-back-media-item:hover {
  background: rgba(36, 35, 35, 0.534);
  color: white;
}

.card-back-media-item:hover svg path {
  fill: white;
}

/* For only 2 media items */
.card-back-media-col {
  flex-direction: column;
}

.card-back-media-col .card-back-media-item {
  width: 100%;
}

.card-back-media-col .card-back-media-item:first-child {
  border-bottom: 1px solid var(--custom-gray);
}

/* For odd number of media items, first takes up parent width */
.card-back-media-odd .card-back-media-item:not(:first-child) {
  border-top: 1px solid var(--custom-gray);
}

.card-back-media-odd .card-back-media-item:nth-child(even) {
  border-right: 1px solid var(--custom-gray);
}

.card-back-media-odd .card-back-media-item:first-child {
  width: 100%;
  border: none;
}

/* For even number of media items. */
.card-back-media-even .card-back-media-item:nth-child(odd) {
  border-right: 1px solid var(--custom-gray);
}

.card-back-media-even .card-back-media-item:nth-last-child(n+3) {
  border-bottom: 1px solid var(--custom-gray);
}

.game-text {
  position: absolute;
  z-index: 1;
  align-self: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  width: 90%;
}

.game-title {
  font-size: 1.5em;
}

.exclusive {
  background: rgba(0, 0, 0, 0.527);
  font-size: 0.8em;
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

.exclusive:first-letter {
  color: #FFD300;
}

/* Opaque overlay on front of game-card */
.img-before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
}

.img-before-disabled {
  background: rgba(0, 0, 0, 0.753);
  z-index: 1;
}

.game-image {
  min-width: 100%;
  min-width: 100%;
  object-fit: cover;
  filter: grayscale(0.9);
}

.the-pokémon-company-overlay {
  background-color: #f8cc0854;  
}

.google-stadia-overlay {
  background-color: #a41d5254;
}

.electronic-arts-overlay {
  background-color: #8333d154;
}

.microsoft-overlay {
  background-color: #197b1b54;
}

.bethesda-overlay {
  background-color: #ff7f0054;
}

.devolver-digial-overlay {
  background-color: #f5f52454;
}

.upload-vr-overlay {
  background-color: #8cc63e54;
}

.the-pc-gaming-show-overlay {
  background-color: #1dc19754;
}

.limited-run-games-overlay {
  background-color: #41437b54;
}

.ubisoft-overlay {
  background-color: #2c89cc54;
}

.amd-overlay {
  background-color: #fce8cc54;
}

.kinda-funny-games-overlay {
  background-color: #0b2b3f54;
}

.square-enix-overlay {
  background-color: #ff69b454;
}

.nintendo-overlay {
  background-color: #ec1c2d54;
}

