#announcements-nav {
  display: flex;
  position: fixed;
  height: 40px;
  z-index: 2;
  background-color: var(--dash-background);
  justify-content: space-between;

}
@media screen and (max-width: 650px) {
  #announcements-nav {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  #announcements-nav {
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 25px;
  }
}

@media screen and (min-width: 1100px) {
  #announcements-nav {
    width: 33%;
  }
}

.nav-page-num {
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--custom-light-gray);
  text-decoration: none;
  flex-grow: 1;
}

.nav-page-num-selected {
  background: black;
}

#nav-left, #nav-right {
  display: inline-block;
  align-items: center;
}
