.nav-icon {
  width: 28px;
  height: 28px;
}

.dash-icon {
  width: 20px;
  height: 20px;
  align-self: center;
}

.drop-down {
  margin-left: auto;
  width: 24px;
  height: 24px;
}

.nav-chevron {
  height: 40px;
  width: 40px;
}

.card-icon {
  width: 24px;
  height: 24px;
}

.media-change-chevron {
  height: 48px;
  width: 48px;
}

.watch-rewind-icon {
  width: 16px;
  height: 16px;
}

.link-icon {
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
}

.media-change-chevron-footer {
  width: 20px;
  height: 20px;
}
