.nav-icon {
  width: 28px;
  height: 28px;
}

.dash-icon {
  width: 20px;
  height: 20px;
  align-self: center;
}

.arrow-icon {
  margin-left: auto;
}

.drop-down {
  margin-left: auto;
  width: 24px;
  height: 24px;
}

.nav-chevron {
  height: 40px;
  width: 40px;
}

.card-icon {
  width: 24px;
  height: 24px;
}

.visibility-off, .visibility-on {
  z-index: 2;
  position: absolute;
  align-self: flex-end;
  left: 0;
}

.media-change-chevron {
  display: inline;
  height: 16px;
  width: 16px;
}

.watch-rewind-icon {
  width: 16px;
  height: 16px;
}

.link-icon {
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
}
