.navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  max-width: 100%;
  padding: 0%;
  margin-top: 2%;
}

#e3-e {
  color: #DC143C;
  font-weight: bold;
}

#e3-3 {
  color: #FCE205;
  font-weight: bold;
}

#e3-recap {
  color: white;
}

@media screen and (max-width: 1920px) {
  .navItemLarge {
    margin: 0 1%;
  }

  .navItemSmall {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #logo-container {
    margin-left: 0%;
    margin-right: auto;
  }

  #logo {
    display: flex;
    font-size: 1.4em;
  }

  #nav-rewind-icon {
    padding-top: 1px;
  }

  .navItemSmall {
    margin: 0 1%;
    min-width: 28px;
    min-height: 28px;
    display: block;
  }

  .navItemLarge {
    display: none;
  }
}
