.navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  max-width: 100%;
  padding: 0%;
  margin-top: 10px;
}

#logo-container {
  margin-left: 10px;
  margin-right: auto;
}

#logo {
  display: flex;
  font-size: 1.4em;
}

#e3-e {
  color: #DC143C;
  font-weight: bold;
}

#e3-3 {
  color: #FCE205;
  font-weight: bold;
}

#e3-recap {
  color: white;
}


.nav-item-text {
  font-weight: bold;
  color: var(--custom-light-gray);
}

.nav-item-text:hover {
  color: white;
}

.nav-item-small:hover svg path:first-of-type {
  fill: white;
}

@media screen and (min-width: 751px) {
  .nav-item-large {
    margin: 0 1%;
  }

  .nav-item-small {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  

  #nav-rewind-icon {
    padding-top: 1px;
  }

  .nav-item-small {
    margin: 0 1%;
    min-width: 28px;
    min-height: 28px;
    display: block;
  }

  .nav-item-large {
    display: none;
  }
}
