@media screen and (max-width: 450px) {
  #app {
    height: 100%;
  }
  #content {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 4%;
    margin-right: 4%;
  }

  #announcement-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .announcement-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 2%;
    overflow: hidden;
  }

  .game-text {
    margin: 0;
    position: absolute;
    z-index: 1;
    align-self: center;
    color: white;
  }

  .game-title {
    margin: 0;
    font-size: 1.5em;
  }

  .exclusive {
    background: rgba(0,0,0,0.7);
    margin: 0;
    font-size: 0.8em;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .exclusive:first-letter {
    color: #FFD300;
  }

  .announcement-image {
    position: relative;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;

  }

  .visibility-off {
    position: absolute;
    width: 24px;
    height: 24px;
    align-self: flex-end;
    left: 0;
  }

  .img-before {
    z-index: 0.5;
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  #announcements-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 2;
    background-color: #1B1B1B;
    justify-content: space-between;
  }

  .nav-page-num {
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D3D3D3;
    text-decoration: none;
    flex-grow: 1;
  }

  .nav-chevron {
    height: 100%;
  }

  #nav-left, #nav-right {
    display: flex;
    align-items: center;
  }
}
